.container {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:24px;
}

.postcard_light, .postcard_dark {
  border-radius: 8px;
  padding:12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.postcard_dark {
        background-color: #fff;
        color:#050363
}
.postcard_light {
        background-color: #050363;
        color: #f0f0f0;
}

.app_light {
  background-color: #f0f0f0;
  color: #050363;

}

.app_dark {
  background-color: #050363;
  color: #f0f0f0;
}

body {
        margin:0;
}